.transaction{
  flex: 4;
}
.graphs{
  display: flex;
  align-items: center;
}
.heading{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: gray;
}
.graph2{
  margin-left: 180px;

}